<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
                <integer>268</integer>
		<key>y</key>
                <integer>76</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>332</integer>
		<key>y</key>
                <integer>76</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>268</integer>
		<key>y</key>
                <integer>140</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>12</integer>
		<key>y</key>
                <integer>140</integer>
	</dict>
        <dict>
		<key>x</key> 
                <integer>76</integer>
		<key>y</key>
                <integer>140</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>140</integer>
		<key>y</key>
                <integer>140</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>12</integer>
		<key>y</key>
                <integer>204</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>12</integer>
		<key>y</key>
                <integer>268</integer>
	</dict>
        <dict>
		<key>x</key> 
                <integer>12</integer>
		<key>y</key>
                <integer>332</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>140</integer>
		<key>y</key>
                <integer>256</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>268</integer>
		<key>y</key>
                <integer>268</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>268</integer>
		<key>y</key>
                <integer>332</integer>
	</dict>
        <dict>
                <key>x</key>
                <integer>268</integer>
                <key>y</key>
                <integer>396</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>332</integer>
                <key>y</key>
                <integer>268</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>332</integer>
                <key>y</key>
                <integer>332</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>332</integer>
                <key>y</key>
                <integer>396</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>460</integer>
                <key>y</key>
                <integer>204</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>460</integer>
                <key>y</key>
                <integer>268</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>460</integer>
                <key>y</key>
                <integer>332</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>460</integer>
                <key>y</key>
                <integer>396</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>460</integer>
                <key>y</key>
                <integer>524</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>268</integer>
                <key>y</key>
                <integer>524</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>332</integer>
                <key>y</key>
                <integer>524</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>396</integer>
                <key>y</key>
                <integer>524</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>524</integer>
                <key>y</key>
                <integer>524</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>460</integer>
                <key>y</key>
                <integer>588</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>268</integer>
                <key>y</key>
                <integer>588</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>396</integer>
                <key>y</key>
                <integer>588</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>524</integer>
                <key>y</key>
                <integer>588</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>140</integer>
                <key>y</key>
                <integer>652</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>140</integer>
                <key>y</key>
                <integer>716</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>204</integer>
                <key>y</key>
                <integer>716</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>268</integer>
                <key>y</key>
                <integer>716</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>332</integer>
                <key>y</key>
                <integer>716</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>396</integer>
                <key>y</key>
                <integer>716</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>460</integer>
                <key>y</key>
                <integer>716</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>524</integer>
                <key>y</key>
                <integer>716</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>588</integer>
                <key>y</key>
                <integer>716</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>652</integer>
                <key>y</key>
                <integer>652</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>652</integer>
                <key>y</key>
                <integer>588</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>780</integer>
                <key>y</key>
                <integer>140</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>652</integer>
                <key>y</key>
                <integer>396</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>652</integer>
                <key>y</key>
                <integer>268</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>652</integer>
                <key>y</key>
                <integer>332</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>652</integer>
                <key>y</key>
                <integer>140</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>524</integer>
                <key>y</key>
                <integer>140</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>588</integer>
                <key>y</key>
                <integer>140</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>524</integer>
                <key>y</key>
                <integer>204</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>524</integer>
                <key>y</key>
                <integer>268</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>524</integer>
                <key>y</key>
                <integer>140</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>524</integer>
                <key>y</key>
                <integer>332</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>780</integer>
                <key>y</key>
                <integer>204</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>780</integer>
                <key>y</key>
                <integer>268</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>780</integer>
                <key>y</key>
                <integer>332</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>204</integer>
                <key>y</key>
                <integer>396</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>460</integer>
                <key>y</key>
                <integer>460</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>332</integer>
                <key>y</key>
                <integer>588</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>652</integer>
                <key>y</key>
                <integer>716</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>716</integer>
                <key>y</key>
                <integer>140</integer>
        </dict>
</array>
</plist>
